@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-image: url('/background.jpg');
  background-size: cover; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: Ubuntu, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer components {
  .window-container {
    @apply  relative w-[700px] h-[500px] text-white rounded-t-lg border border-black shadow-xl
  }
  .home-title {
    @apply flex justify-between m-4 px-3 py-2 rounded-md border border-ubuntu-9 bg-ubuntu-8
  }
  .folder-item {
    @apply px-3 py-2 my-0.5 w-full cursor-default
  }
}